<!DOCTYPE html>
<html>
<head>
    <title>Error !!</title>
</head>
<body style="font-family : sans-serif ;">
    <header bgcolor="blue"style="background-color:darkblue;color: white;height: 80px;font-size: 40px;padding-top: 20px;">
		<div style="padding-left: 75px;padding-top: 5px;">
			Stock Analyser</div>
		</header>
    <h1 style="text-align: center;"> Oopps... An Error Occured !</h1>
    <h2 style="text-align: center;">{{ msg }}</h2>
    
    <h3 style="text-align: center;">Hit Back button to return to the main page !</h3>
</body>    
</html>
